	*{
			margin: 0;
			padding: 0;
			box-sizing: border-box;
	}
	body{
		/*background: violet;*/
		background-image: linear-gradient(to right,red,yellow);
	}
	a{
		color: white;
		text-decoration: none;
	}
	nav ul{
		background: orangered;
	}
	nav ul li{
		padding: 15px;
		display: inline-block;
		transition: all 0.4s ease;
	}
	li:hover{
		font-size: 25px;
		cursor: pointer;
		background: black;
	}